{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Git email" -}}
{{- $lastpassLoginEmail := promptStringOnce . "lastpassLoginEmail" "LastPass login email (for hints)" -}}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
lastpassLoginEmail = {{ $lastpassLoginEmail | quote }}
