# Managed by chezmoi
[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}

[include]
  path = ~/.config/git/personal.gitconfig

[includeIf "gitdir:~/work/"]
  path = ~/.config/git/work.gitconfig

[includeIf "gitdir:~/private-cloud"]
  path = ~/.config/git/work.gitconfig

[includeIf "gitdir:~/pc-*/"]
  path = ~/.config/git/work.gitconfig

[includeIf "gitdir:~/gdc-*/"]
  path = ~/.config/git/work.gitconfig
